/* -------------------- IMPORTED FONTS -------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */

:root {
    --black: #0D0D0D;
    --gray: #F2F2F2;
    --teele: #7ABFBF;
    --orange: #EB5428;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

html {
    background-color:rgba(122, 191, 191, .5);
}

body {
	background-color: #F2F2F2;
    min-width: 414px;
    margin-left: 2rem;
	margin-right: 2rem;
}

header {
	background-color: #F2F2F2;
	padding-top:8rem;
}

menu {
	display:flex;
	position:relative;
	left:30px;
    padding-top:90px;
	padding-bottom: 10px;
}

menu li {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

button, input[type="submit"]{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    display: flex;
	flex-direction: column-reverse;
    color: #EB5428;
}

menu button {
    transition: all ease-in-out 0.2s;
}

menu button:hover {
    background-color: #EB5428;
	border-radius: 5px;
}


menu :hover {
	color: white;
}

header img {
	max-width: 100%;
}

h1, h2, h3{
	font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 1rem;
}

h1 {
	font-size: 40px;
    text-align: center;
    position: relative;
	top: 80px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

p {
	font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding: 0.5rem;
}

dt {
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}

dd {
	font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
	font-size: 16px;
}

li {
	font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
	font-size: 16px;
}

main {
	background-color: #F2F2F2;
}

#details, #ingredients, #directions {
	padding: 0.5rem
}

#details dl {
	display: flex;
    flex-wrap: wrap;
}

#details dt {
	  width: 33%;
}

#details dd {
	margin-left: auto;
    width: 66%;
}

#ingredients ul {
	list-style: disc;
	list-style-position: inside;
}

#directions {
	margin: 1rem;
}

#directions ol {
	list-style: auto;
	list-style-position: outside;
}

aside {
	background-color: #7ABFBF;
}

aside h4 {
    display: none;
}

#rice, #salsa, #guacamole, #tortillas {
	display: grid;
	grid-template-columns: 1fr 3fr;
    padding: 1rem;
}

#rice img, #salsa img, #guacamole img, #tortillas img {
	grid-column-start:1;
    width: 150px;
}

#ricerating, #salsarating, #guacrating, #tortrating {
	grid-column-start:2;
	grid-row-start: 1;
    position:relative;
    top:110px;
    left: 15px;
}

#sdishes h3 {
	grid-column-start:2;
	grid-row-start:1;
	text-align:left;
}

#sdishes p {
	grid-column-start:2;
	grid-row-start:1;
	position:relative;
	top:60px;
    left: 8px;
}

#rice, #salsa, #guacamole, #tortillas {
    transition: all ease-in-out 0.2s;
}

#rice:hover, #salsa:hover, #guacamole:hover, #tortillas:hover {
	background-color:#EB5428;
}

nav {
    grid-area: nav;
    min-width: 414px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index:5;
	font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
	font-size:16px;
    width: 88%;
}

nav ul {
    grid-area: hamberger;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
}
nav li img {
    display: none;
}
nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #EB5428;
}
nav a{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

nav label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: relative;
    bottom: 5px;
    left: 30px;
}
nav span {
    display: block;
    position: relative;
	font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
	font-size: 20px;
}

nav label svg {
    display: block;
}
label span:before, label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 550px;
}
nav h2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}

nav li:last-child {
	position: absolute;
	top:0;
	right:0;
}

#logo {
	position: absolute;
	background-color:#EB5428;
	top:0;
	right: 150px;
	height: 53px;
}

#sign-in {
	display: block;
	top:0;
    color:#0D0D0D;
    text-decoration: none;
}

#social button {
    transition: all ease-in-out 0.2s;
}

#facebook:hover, #instagram:hover, #youtube:hover, #tiktok:hover {
	color:#F2F2F2;
	background-color:#EB5428;
	border-radius: 5px;
}

#social ul {
	display: flex;
	justify-content:center;
}

#social li {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color:#EB5428;
    padding: 0.5rem;
	position: relative;
	bottom:100px;
}

#social h2, footer h2, footer h3 {
	visibility:hidden;
}

form {
	position: absolute;
	top: 150px;
	left: 140px;
}

#search {
	display: flex;
	border: solid 3px#EB5428;
}

input {
	font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
	font-size: 16px;
}

footer {
    background-color: #F2F2F2;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

footer img {
	width: 200px;
	position: relative;
	left: 100px;
	bottom: 150px;
}

small {
	position: relative;
	top:100px;
    left: 90px;
	padding: 1rem;
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/

@media screen and (min-width:768px) {
	
	body {
		min-width: 768px;
	}

	nav {
		display:block;
        padding-bottom: 7rem;
		width: 95%;
	}
    
	nav ul {
		display:flex;
		overflow: visible;
	}
	
    nav li img {
		display: flex;
		width: 50px
	}

	#logo {
		position:absolute;
		left:0px;
		top: 0px;
		width: 80px;
	}


    h1 {
		text-align: left;
	}

	menu  {
		display:flex;
		justify-content:center;
		justify-items: center;
	}

	menu li {
		position:relative;
		top: 100px;
		right:30px;
		background-color: #F2F2F2;
		padding: 2rem 1rem 0.5rem 2rem;
        background: rgba(255,255,255,0.5)
	}

	#details {
		display: flex;
		flex-direction: column;
		text-align: center;
		
	}
	#details dt {
		position: relative;
		left:170px
	}

	#details dd {
		position: relative;
		right: 50px;
	}

    #food {
		display:grid;
		grid-template-columns: 1fr 2fr;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	#snacks {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

    #social {
		position: relative;
		bottom: 40px;
		grid-column-start:2;
        padding-right: 1rem;
	}

    #social ul {
        display: flex;
        justify-content:center;
    }

    #social li {
        font-family: "Bebas Neue", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        color:#EB5428;
        padding: 0.5rem;
        position: relative;
        bottom:70px;
		left: 230px;
    }

    #social h2, footer h2, footer h3 {
        visibility:hidden;
    }

    form {
        position: fixed;
        top: 30px;
        left: 450px;
		z-index:5;
    }

    #search {
        display: flex;
    }

    input {
        font-family: "Montserrat", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
    }

    footer {
        background-color: #F2F2F2;
        font-family: "Bebas Neue", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    }

    footer img {
        width: 200px;
        position: relative;
        left:-200px;
        bottom: 230px
    }

    small {
        position: relative;
        top: -180px;
        left: 40px;
        padding: 1rem;
    }
	
	

}
/*-------------------- MEDIA QUERY (large) ------------------------------------*/

@media screen and (min-width:1280px) {
	
	body {
		min-width: 1280px;
	}

	h1 {
		position: relative;
		left: 520px;
		top: 40px;
	}

    form {
		position: absolute;
		top: 130px;
		left: 550px;
	}

    header {
        
    }

	#mainmenu {
		display: grid;
		grid-template-columns:1fr 6fr 7fr;
		padding: 2rem;
	}

	menu {
		display: inline-flex;
		flex-direction: column;
		bottom: 240px;
	}


    nav {
		display:inline-flex;
        height:0px;
	}

    nav a{
		position: relative;
		left: 200px;
	}

    #sign-in {
		position:relative;
		left:0px;
	}

    #details {
		background-color: #0D0D0D;
		color: #7ABFBF;

	}

	#details dl {
		display: grid;
		grid-template-columns:1fr 1fr 1fr 1fr 1fr;
	}
    
    #details dt {
		position:relative;
		left: -5px;
		grid-row-start: 1;
		width: 100%;
	}

	#snacks {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding-bottom: 2rem;
        margin-bottom: 1rem;
	}

    #social li {
		display: grid;
		grid-template-columns:1fr 2fr;
	}

	footer img {
		width: 400px;
	}

	small {
		left:130px
	}



}