/* -------------------- IMPORTED FONTS -------------------------------------- */



/*-------------------- CSS RESET ---------------------------------------------------*/



/* -------------------- ROOT VARIABLES --------------------------------------- */

:root {
    --black: #0D0D0D;
    --gray: #F2F2F2;
    --teele: #7ABFBF;
    --orange: #EB5428;
}


/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/




/*-------------------- MEDIA QUERY (medium) --------------------------------*/


/*-------------------- MEDIA QUERY (large) ------------------------------------*/



/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/