/* -------------------- IMPORTED FONTS -------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */

:root {
    --black: #0D0D0D;
    --gray: #F2F2F2;
    --teele: #7ABFBF;
    --orange: #EB5428;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

html {
    background-color:rgba(122, 191, 191, .5);
}

body {
	background-color: #F2F2F2;
    min-width: 428px;
}

header {
	background-color: #F2F2F2;
}

menu {
	display:flex;
}

menu li {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    list-style: none;
}

header img {
	max-width: 100%;
}

h1, h2, h3{
	font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 1rem;
}

h1 {
	font-size: 40px;
    text-align: center;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

p {
	font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding: 0.5rem;
}

dt {
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}

dd {
	font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
	font-size: 16px;
}

li {
	font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
	font-size: 16px;
}

main {
	background-color: #F2F2F2;
}

#details, #ingredients, #directions {
	padding: 0.5rem
}

#details dl {
	display: flex;
    flex-wrap: wrap;
}

#details dt {
	  width: 33%;
}

#details dd {
	margin-left: auto;
    width: 66%;
}

#ingredients ul {
	list-style: disc;
	list-style-position: inside;
}

#directions {
	margin: 1rem;
}

#directions ol {
	list-style: auto;
	list-style-position: outside;
}

aside {
	background-color: #7ABFBF;
}

aside h4 {
    display: none;
}

#rice, #salsa, #guacamole, #tortillas {
	display: grid;
	grid-template-columns: 1fr 3fr;
    padding: 1rem;
}

#rice img, #salsa img, #guacamole img, #tortillas img {
	grid-column-start:1;
    width: 150px;
}

#ricerating, #salsarating, #guacrating, #tortrating {
	grid-column-start:2;
	grid-row-start: 1;
    position:relative;
    top:110px;
    left: 15px;
}

#sdishes h3 {
	grid-column-start:2;
	grid-row-start:1;
	text-align:left;
}

#sdishes p {
	grid-column-start:2;
	grid-row-start:1;
	position:relative;
	top:60px;
    left: 8px;
}

nav {
    display: flex;
    position: fixed;
	top: 0;
	font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
	font-size: 16px;
}

nav h2 {
	display: none;
}

nav a {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

nav span {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    display: flex;
	flex-direction: column;
}

nav li:first-child {
    background-color: #EB5428;
}

nav li img{
	display:none;
}

#sign-in {
	display:flex;
	position:absolute;
	top:0;
}

#social {
	background-color: #F2F2F2;
}

#social li {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

#social h2, footer h2, footer h3 {
	display: none;
}

input {
	font-family: "Montserrat", serif;
    font-weight: 400;
    font-style: normal;
	font-size: 16px;
}

footer {
    background-color: #F2F2F2;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width:768px) {

}
/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width:1280px) {

}